<div class="main-container">
    <h1 class="page-title">Welcome to bibliography app!</h1>

    <table class = "table table-bordered">
        <thead>
        <tr>
            <th>Bibliography</th>
            <th>Empty column</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let bibliography of bibliographies">
            <td>{{ bibliography }}</td>
            <td>-</td>
        </tr>
        </tbody>
    </table>
    <button type="submit" (click)="getAll()">Get all bibliographies</button>
    <p style="color:red">{{ error }}</p>
</div>