<form action="/">
    <div class="form-group">
        <label for="bibliography">Bibliography:</label>
        <input type="text" class="form-control" id="bibliography" #bibliography>
    </div>
    <!--<div class="form-group">-->
        <!--<label for="lastName">Last name:</label>-->
        <!--<input type="text" class="form-control" id="lastName">-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label for="yearOfPublication">Year of publication:</label>-->
        <!--<input type="text" class="form-control" id="yearOfPublication">-->
    <!--</div>-->
    <button type="button" class="btn btn-default" (click)="add(bibliography.value)">Submit</button>
</form>
