<label class="control-label">Select File</label>
<form name="fileForm" (submit)="getComposedBibliographies($event)">
    <select name="cars" required class="form-control" #t (change)="callType(t.value)">
        <option disabled selected value>Select a file from the list</option>
        <option *ngFor="let file of dstuFiles" value="{{file}}">{{file}}</option>
    </select>
    <br/>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="col-md-5">Bibliography</th>
            <th class="col-md-1">Select to compose</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let bibliography of bibliographies">
            <td class="col-md-5">{{ bibliography }}</td>
            <td class="col-md-1"><input type="checkbox" value="{{bibliography}}"
                                        (change)="updateCheckedOptions(bibliography, $event)"/></td>
        </tr>
        </tbody>
    </table>
    <button type="submit"
            class="btn btn-default">
        Compose
    </button>
    <button type="button" (click)="clearAll()" class="btn btn-default">Clear</button>
    <p class="bg-danger">{{ error }}</p>
</form>
<table class="table" *ngIf="composed">
    <thead>
    <tr>
        <th>Composed bibliography</th>
    </tr>
    </thead>
    <tbody>
    <tr class="success">
        <td>
                <span *ngFor="let bibliography of selectedBibliographies; let i = index;">
                    <span>
                        {{i + 1}}) {{ bibliography }}
                    </span>
                    <br/>
                </span>
        </td>
    </tr>
    </tbody>
</table>
