.main-container {
    width: 80%;
}

.page-title {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    padding-left: 0;
    padding-right: 0;
}

.btn-plus-minus {
    padding: 6px 9px !important;
    line-height: 1 !important;
}

.form-group {
    margin-bottom: 10px;
}